# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=

# Booking service DB
BOOKING_DB_URL=jdbc:postgresql://postgres:5432/booking
BOOKING_DB_USERNAME=
BOOKING_DB_PASSWORD=

# Notification service DB
NOTIFICATION_DB_URL=jdbc:postgresql://postgres:5432/notification
NOTIFICATION_DB_USERNAME=
NOTIFICATION_DB_PASSWORD=

# JWT
JWT_SECRET=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_RESERVATIONS=reservations

# Service URLs
NOTIFICATION_SERVICE_URL=http://microdesk-notification:8080
